.content-top {
    // margin: 5% 0% 0% 0%;
    border: 1.5px solid #494ca2;
    width: 45vw;
    margin-top: 40px;
    border-radius: .3rem;
    height: 350px;
   

    p {

        font-size: 16px;
        font-weight: 600;
        line-height: 19.5px;
        //  text-align: right;

    }
}

.notification-card-container {
    height: 270px;
    overflow-y: auto;
    // width: 50vw;

    .notification-card {

        margin: 1rem;
        display: flex;
        width: 90%;
        //  justify-content: space-between;


        p {
            font-size: 11px;
            font-weight: 400;
            line-height: 25px;
            text-align: left;
            color: #000000;
        }

        .dot_ {
            height: 10px;
            width: 10px;
            border-radius: 50%;
            background-color: #00e4b3;
            display: inline-block;
            margin-top: 8px;
            margin-right: 10px;
        }

    }
}

.vertical-line {
    border-left: 2px solid rgb(211, 211, 211);
    height: 114%;
    position: absolute;
    top: 43%;
    //  left: 0.7%;
    //  right: 2.5%;
}

.notification-card-scroll {
    font-size: 14px;
    margin-right: 12px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    height: 45px;
    padding-top: 3px;
}


::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: rgba(136, 136, 136, 0.455);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {

    background: #555;
}